/* Reset */
* {
    padding: 0;
    margin: 0;
  }
  
  .App {
    font-family: sans-serif;
    width: 80%;
    margin: auto;
    border: solid black 2px;
    padding: 15px;
  }
  
  .Source {
    margin-top: 10px;
    color: #818181;
  }
  
  .Years {
    font-size: 66%;
  }
  